.progress {
    height: 5px;
    margin: 20px 0;
    overflow: hidden;
    width: 100%;
    height: 10px;
    background-color: #161720;
    border-radius: 20px;
}

.progress:before {
    content: "";
    width: var(--progress-width);
    background-color: #6343D8;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    transition: .2s all
}